html{
	margin: 0;
	padding: 0;

}

.section-1{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.card{
	border-color: red;
	width: 100px;
	height: 300px;
	border-radius: 15%;
	color: red;
}

